
        table {
            border-collapse: collapse;
            width:100%;
        }
        .button-b{
            color: aqua;
        }
        .button-r{
            color: red;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f0f0f0;
        }

